<div style="text-align: left; margin: auto;
width: 50%;
padding: 10px; 
font-size: 22px;
font-family: calibri;">

<h1>FX Cebu</h1>

<p>
  This is a project to help serious Forex traders with a full-time job or business that don't have enough time for trading, and also for those that can't get profitable trading on their own and want to automate the entire process...
</p>

<h1><b>LOOKING FOR SOMEONE TO TRADE THE FOREX FOR YOU? </b></h1>

<button type="button" onclick="location.href = 'https://buy.stripe.com/test_aEUg0E2pdd272cwdQR';" class="btn btn-primary">GET THE ALGO NOW</button>

<p>Are you looking <b>for someone to trade the FOREX for you?</b></p>
<p>Are you looking to trade Forex but you are not sure how to start ?</p>
<p>You don't have enought time to learn how to trade ?</p>
<h1><b>DISCLAIMER
  <br>
  This Isn’t for Everyone...</b></h1>
<p><b>If you’re trying to turn your £1000 into £10,000 in a month?</b></p>
<p>We’re not right for each other.</p>
<p><b>If you’re looking for a guarantee of a 100% pass rate</b></p>
<p>for your prop challenge ?</p>
<p>We wish you a good day. It doesn’t exist.</p>
<p>Long term sustainable success in trading comes from understanding your strategy.</p>
<p>EA’s are not different.</p>
<p>The thing is, we want our traders to succeed but you’ll have to invest a bit of time at the start of joining us to do that in a sustainable way - you’ll get that investment back by the bucket load...</p>
<p>I'm confident of that.</p>
<p>If you’re willing then we’re willing.</p>
<h1>This Is For You If :</h1>


<p>-You want to diversify various trading strategies <b>to capitalize on all market conditions</b></p>
<p>-You <b>don’t have time to trade</b> for yourself</p>
<p>-You want <b>high success rate of passive income</b></p>
<p>-You’re <b>wanting to trade on autopilot / automated 100%</b></p>

<br>
<p>Manual trading may be how you started, but auto trading may be where you settle.</p>
<p>Most customers are looking to trade Forex but do not know where to start.</p>
<p>Our process is a simple few step program that starts profiting within the first 48 hours as long as the parameters are met.</p>

<br>
<p>Hey, I’m Paolo</p>
<p>Life is now very different, more time, more freedom, less s**t (less conference calls talking about thing that don't matter!).</p>
<p>I became passionate about algorithmic trading when I realised I could make profit whilst I slept, with no chart</p>
<p>time and with a load of data to support the strategy itself - all at the touch of a button.</p>
<p>I'm passionate about helping others break free from the 'usual mistakes' and f***k ups 90% of traders make, because I've made them too.</p>
<p>Making 'progress', 'overcoming' challenges and setbacks to 'win' in the end.</p>
<p>That's how FX Cebu Algo was born.</p>

<h1 style="text-align: center;"><b>Welcome to FX Cebu</b></h1>

<p>Our strategies / algo have helped generate consistent returns for over 100+ clients...</p>
<p>The ALGO will take your trading <b>to the next level because it will also help you Generate consistent returns.</b></p>
<p>You'll save a load of time compared to doing analysis yourself.</p>
<p>2 hours a day, 6 days a week is 624 hours a year - that’s almost an extra month a year you will get back.</p>
<p><b>It runs itself 24/5 Once set up,</b> the EA will do its thing whilst you go about your day as normal.</p>
<p><b>You'll not need to backtesting yourself,</b> having to make your own rules or follow unreliable signals...</p>
<p>You'll be in charge of managing these algos and we'll show you exactly how it works so <b>you can make money even when you're not on the charts!</b></p>
<p>The returns you make with these strategies will depend entirely on your account balance and risk tolerance.</p>
<p>With this ALGO?</p>

<h2>You'll reduce the weight of decisions you have to make all the time :</h2>
<p>
-Where to buy <br>
-where to sell <br>
-what lot size <br>
Etc....</p>
<p>The ALGO will decide for you.</p>
<h2>Because the ALGO is 100% AUTOMATIC...</h2>
<p>I Get The SCHIFF ALGO Now</p>
<p>to automate the entire process!</p>

<h1 style="text-align: center;"><b>If you want to succeed in a challenge?</b></h1>

<p>EA will help you pass a challenge and trade live.</p>
<p><b>We have integrated the most common Prop Trading rules to help you pass a challenge 100% automatically.</b></p>
<p>If you want to trade a specific trading session?</p>
<p>You can set custom trading hours depending on when you want to trade.</p>
<p>I Get The SCHIFF ALGO Now</p>
<p>to automate the entire process !</p>

<h1>
<p>An Algorithmic
Approach For Trading Designed To Trade
Your Account For You...</p>
</h1>

<h2><p>Multiple strategies have been built into the EA to help navigate different market conditions- one size doesn't fit all, right?</p>
</h2>


<p>We've developed the EA 'in-house' over the last 6 years -Tried, tested and traded by ourselves.</p>

<h2><p>Still Not Sure?</p></h2>

<p>Here’s our track record performance in the recent months</p>

</div>


